.container {
  display: flex;
  margin: 0 auto;
  padding: 2em 0 4em 0;
  height: fit-content;
  min-height: 100vh;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (max-width: 768px) {
    width: 100%;
    padding: 1.5em 0;
  }
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
